.bylineContainer {
    position: relative;
    width: 100%;
    height: 700px;
    left: 0;
    top: 0;
}

.bylineText {
    position: absolute;
    top: 45%;
    width: 25%;
}

.bylineImage {
    position: absolute;
    top: 10%;
    width: 40%;
    height: 80%;
    object-fit: cover;
}
